<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pick Helper - 제비 뽑기</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.0.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <header>
        <h1 class="logo">Pick Helper</h1>
        <h1 class="title">제비 뽑기</h1>
        <div id="subtitle">
            <span class="subtitle">역시 구관이 명관이쥬👍</span><br/>
            <span class="subtitle">긴 설명 필요없이 노빠꾸 고✅</span>
        </div>
    </header>
    <aside>
        <form action="/jebimake" method="get">
            <p>제비 개수
                <select name="count">
                    <option value="">뽑을 제비의 개수를 선택하세요</option>
                    <% for (let i=2; i<21; i++) { %>
                    <option value="<%=i%>"><%=i%>개</option>
                    <% } %>
                </select>
            <p>제비 유형
                <select name="content">
                    <option value="">제비의 유형을 선택하세요</option>
                    <option value="number" selected>번호 매기기</option>
                    <option value="king">왕 뽑기</option>
                    <option value="custom">커스텀 설정</option>
                </select>
                <p class="d-none">커스텀 설정(제비 개수와 같아야 함)<input type="text" name="custom" placeholder="제비의 내용을 적어주세요 ex) 마피아, 시민, 경찰"/></p>
            </p>
            <button type="submit">만들기</button>
        </form>
    </aside>
    <article>
        <div class="jebiboard">
            <% for(let j=0; j<count; j++) { %>
                <% if ( content > 3 ) { %>
                    <p class="jebi d-none" onclick="result()"><%=array[j]%></p>
                <% } else if ( content === 3) { %>
                    <p class="jebi d-none" onclick="result()"><%=array[j]%></p>   
                <% } else { %>
                    <p class="jebi d-none" onclick="result()"><%=array[j]%></p>
                <% } %>    
            <% } %>
        </div>
        <button type="button" onclick="location.href='/jebi'">다시 하기</button>
    </article>
    <footer><p>programed by rooney</p></footer>
    <script>
        if (<%=validation%> == 4041) {
            alert("제비 유형이 커스텀이 아닙니다.");
            location.href='/jebi';
        } else if (<%=validation%> == 4042) {
            alert("커스텀 설정이 정확하지 않습니다.");
            location.href='/jebi';
        }

        function result() {
            $(".jebi").removeClass(".d-none");
        }
    </script>
</body>
</html>